:root {
  --app-background-color: #1877f2;
  --white-color: white;
  --grey-color: grey;

}
/* navbar css starts here */
.navbar {
  width: 100%;
  margin: auto;
  background-color: var(--app-background-color);
  padding: 1rem;
  color: var(--white-color);
  display:flex;
  justify-content:space-around;
  align-items:center;
 
}
.navbar-link {
  color: var(--white-color);
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
}
.active {
  font-weight: bold;
}
.search-input {
  padding: 0.5rem;
  min-width: 25rem;
  border-radius: 3px;
  border: 0;
}
.search-input:focus {
  outline: 0;
}
.search-btn {
  padding: 0.4rem;
  margin: 0 0 0 0.5rem
}
/* character card css starts here */
.character-container {
  display: inline-block;
  width: 19rem;
  height: 19rem;
  perspective: 40rem;
  border: 1px solid var(--grey-color);
  text-align: center;
}

.character-card {
  position: relative;
  width: 100%;
  height: 90%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
.character-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  backface-visibility: hidden;

}
.character-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  backface-visibility: hidden;
  background: var(--app-background-color);
  transform: rotateY(180deg);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.res-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  background-color: transparent;
  font-size:1.5rem;
  border: 0;
  cursor: pointer;
}
/* home css starts here */
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 1rem;
  padding:1rem;
  width: 90%;
  margin: auto;
}
.active-link {
  color: var(--app-background-color);
}
.like-page-container {
  text-align: center;
}